__pycache__/
.ipynb_checkpoints
.DS_Store
.env
data/*/tmp*


.venv/
venv/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
data/
reports/
paper/*.pdf
paper/*.aux
paper/*.log
paper/*.out
paper/*.synctex.gz
paper/*.fdb_latexmk
paper/*.fls
